.athlete-weekdays-list {
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 5px;
    margin-bottom: 1px;
    margin-top: 1px;
    height: auto;
    margin-left: 20x;
    margin-right: 20px;
  }